@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(210, 210, 210);
}
body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.game{
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  text-align: center;
}
.game .info{
  display: inline-flex;
  align-items: center;
  margin-top: 2rem;
  column-gap: 1rem;
}
.game .player{
 background-color:black;
 color: white;
 padding: 5px 10px;
 font-size: 1rem;
}

.game .reset{
  background-color: red;
  color: white;
  padding: 5px 10px;
}
.game-content{
  max-width: 500px;
}
.game-content .select-choose{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.game-content .select-chooseFirst,.select-chooseSecond{
  font-size: 1rem;
  padding: 3px 20px;
}
.game-content h1::after{
  content: "";
  width: 100px;
  height: 3px;
  background-color: black;
}
.game-board{
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  grid-template-columns: 100px 100px 100px;
}
.game-squre{
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(71, 156, 119);
  color: white;
  transition: all ease 0.3s;
  font-size: 2rem;
}
.game-squre:hover{
  background-color: black;
  transform: scale(0.90);
  color: white;
}
